.section {
  padding: 118px;
  padding-bottom: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.search_filter_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 403px;
  height: 56px;
  border: 1px solid var(--gray-100);
  border-radius: 30px;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 3px;
}

.search_filter_box button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 50px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
}

.total_pokemons_box {
  margin-left: 118px;
  margin-bottom: 55px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.total_pokemons_box span {
  font-size: 18px;
  color: var(--gray-300);
  font-weight: 600;
  line-height: 27px;
}
