.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.filter_box input {
  width: 589px;
  height: 41px;
  border-radius: 6px;
  background-color: var(--gray-300);
}
