.card {
  margin-left: 118px;
  height: 450px;
  width: 280px;
  border: 1px solid var(--gray-100);
  border-radius: 8px;
  margin-bottom: 55px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}
.card img:first-child {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.name_box,
.type_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 28px;
  padding-top: 15px;
}
.name_box span {
  font-size: 18px;
  font-weight: 600;
  color: var(--gray-800);
}

.type_box span {
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  color: var(--gray-200);
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
}
