.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: #f0f0f0;
  border-radius: 13.13px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 697px;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 84.25px;
  background-color: var(--gray-50);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13.13px;
}

.header span {
  font-size: 21.88px;
  font-weight: 600;
  line-height: 26.64px;
  color: #2f3133;
}

.close_button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

.main {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: 43.75px 50.56px 20px 50.56px;
}

.pokemon_img {
  width: 300.59px;
  height: 350.59px;
  object-fit: cover;
  border: 6px solid var(--gray-100);
  border-radius: 13.13px;
  overflow: hidden;
}

.info_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-inline: 30px;
  width: 100%;
}

.type_rarity_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 200px;
}

.type_rarity_box span:first-child {
  font-weight: 400;
  color: #fff;
  line-height: 16.16px;
  background-color: #d4d7de;
  padding: 5px;
  border-radius: 25px;
}
.type_rarity_box span:last-child {
  font-weight: 400;
  color: #fff;
  line-height: 16.16px;
  background-color: var(--gray-200);
  padding: 5px;
  border-radius: 25px;
}
.box_in_row {
  display: flex;
  gap: 10px;
}
.info_box_column {
  height: 80px;
  width: 139.17px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 20px 0px 20px;
}
.info_box_column_middle {
  height: 80px;
  width: 139.17px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 20px 0px 20px;
  border-left: 2px solid var(--gray-100);
  border-right: 2px solid var(--gray-100);
}
.info_box_column,
.info_box_column_middle span {
  text-align: center;
  font-size: 14.77px;
  font-weight: 400;
  line-height: 16.16px;
  color: #666666;
}
.info_box_row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.gray_bar {
  width: 100%;
  height: 47.24px;
  background-color: #d4d7de;
  border-radius: 25px;
}
